.join-room-continer {
    display: block;
    text-align: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #E6EE9C;
    color: #fff;
}

.dash-team-info {
    padding-left: 0;
    padding-right: 0;
    cursor: pointer;
    background: #E6EE9C;
    color: #000;
    padding-top: 10px;
    margin-top: 15px;
    padding-bottom: 10px;
}

.dash-heading {
    display: block;
    font-size: 20px;
    font-weight: normal;
    margin: 0;
    cursor: pointer;
    text-transform: uppercase;
}

.dash-subheader {
    font-size: 12px;
    font-weight: normal;
    margin: 0;
    cursor: pointer;
    text-transform: uppercase;
}

.member-continer {
    overflow: auto;
    margin-top: 15px;
}

.member-name {
    font-weight: bold;
    font-size: 18px;
    vertical-align: middle;
}

.member-name-join {
    font-weight: bold;
    font-size: 14px;
    vertical-align: middle;
}

.score-lable {
    font-size: 120px;
    padding: 10px;
    background-color: #4CAF50;
    line-height: 1;
    border-radius: 10px;
}

.list-score-lable {
    font-size: 15px;
    padding: 10px;
    background-color: #4CAF50;
    line-height: 1;
    border-radius: 10px;
    color: #fff;
}

.member-name-side {
    float: left;
}

.member-score-side {
    float: right;
}

.member-logo {
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    margin-right: 10px;
    vertical-align: middle;
    background-image: url('../../images/placeholder.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.top-member-logo {
    margin: 0 auto 10px auto;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background-image: url('../../images/placeholder.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.joiner-list {
    background-color: #f5f5f5;
    margin-bottom: 10px;
    text-align: left;
    padding: 10px;
    color: #000;
}

.joiner-list:last-child {
    background-color: #f5f5f5;
    margin-bottom: 0;
    text-align: left;
    padding: 10px;
    color: #000;
}

.joiner-right-content {
    width: 60%;
    vertical-align: middle;
    display: inline-block;
}

.joiner-status {
    width: 38%;
    vertical-align: middle;
    display: inline-block;
    text-align: right;
}