.dashboard-continer {
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
}

.left-panel {
    height: 300px;
}

.right-panel {
    height: 300px;
}

.dash-header {
    background-color: #2aa0fc;
    padding: 10px;
    text-transform: uppercase;
    color: #FFF;
}

.dash-list-item {
    overflow: hidden;
    background-color:#FFF;
    padding: 10px;
    text-transform: uppercase;
    color: #000;
    font-size: 12px;
    margin-top: 5px;
    cursor: pointer;
}

.dash-subheader {
    font-size: 8px;
    font-weight: normal;
    margin: 0;
    cursor: pointer;
}

.dash-heading {
    display: block;
    font-size: 12px;
    font-weight: normal;
    margin: 0;
    cursor: pointer;
}

label {
    font-weight: normal;
    margin: 0;
}

.dash-player {
    font-size: 10px;
    margin: 0;
    display: block;
    text-transform: uppercase;
    cursor: pointer;
}

.dash-score {
    font-size: 8px;
    margin: 0;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.dash-team-info {
    padding:0; 
    width:49%; 
    display:inline-block; 
    vertical-align: middle;
    cursor: pointer;
}

.dash-ground-info {
    padding:0; 
    width:50%; 
    display:inline-block; 
    vertical-align: middle;
    cursor: pointer;
}

.dash-ground-score {
    padding:0; 
    width:50%; 
    height:35px; 
    display:inline-block; 
    vertical-align: middle;
    cursor: pointer;
}

.dash-ground-status {
    padding:10px; 
    width:48%; 
    display:inline-block; 
    vertical-align: middle;
    cursor: pointer;
}

.dash-ground-live {
    height:20px; 
    width:20px; 
    background-color:#4caf50; 
    border-radius:100%; 
    float:right;
    cursor: pointer;
}

.dash-ground-waiting {
    height:20px; 
    width:20px; 
    background-color:#FFEB3B; 
    border-radius:100%; 
    float:right;
    cursor: pointer;
}

.dash-ground-offline {
    height:20px; 
    width:20px; 
    background-color:#F44336; 
    border-radius:100%; 
    float:right;
    cursor: pointer;
}

.dash-empty-full {
    display:block; 
    opacity:0.1; 
    height:5px; 
    width:100%; 
    background-color:#000;
    cursor: pointer;
}

.dash-empty-half {
    display:block; 
    opacity:0.1; 
    height:5px; 
    width:80%; 
    background-color:#000;
    margin-top: 5px;
    cursor: pointer;
}