<div class="ground-continer">
    <div class="ground-left">

        <div class="game-title-header">
            <div class="col-lg-2">
                <div>
                </div>
            </div>
            <div class="col-lg-8">
                <div style="text-align: center;">
                    <label class="game-timer">{{timer}}</label>
                </div>
            </div>
            <div class="col-lg-2">
                <div style="text-align: right;">
                    <label class="game-score">{{score}}</label>
                </div>
            </div>
        </div>

        <div class="game-continer">
            <FocusGame *ngIf="timer != 'completed'" [socket]="socket" (scoreUpdate)="scoreUpdate($event)" (timeUpdate)="timeUpdate($event)"></FocusGame>
            <div *ngIf="timer == 'completed'">
                <div style="text-align: center;" (click)="refreshGame()">
                    <label class="restartbtn">CLICK ME TO RESTART</label>
                </div>
            </div>
        </div>

    </div>
    <div class="ground-right">
        <div class="joiner-list" *ngFor="let item of gameCare.members | sort; let i = index; ">
            <div class="joiner-right-content">
                <label class="dash-subheader member-name-join">{{item.username}}</label>
            </div>
            <div class="joiner-status ">
                <label class="list-score-lable">{{item.score}}</label>
            </div>
        </div>
    </div>
</div>