<div id="carcan">
    <div #canvas class="canvas">
        <div class="dot" [style.left]="item.left" [style.top]="item.top" *ngFor="let item of dotArray; let i = index;">
        </div>
    </div>
    <!--<div class="programing-puzzle">
        <div>
            <code>
                <pre>
                    DrawLine(<input type="number" [(ngModel)]="lineDraw" />);
                </pre>
            </code>
        </div>
        <div>
            <input type="button" value="Run" (click)="runCode()" />
        </div>
    </div>

    <div>
        line({{temp.x}},{{temp.y}}):({{temp.tox}},{{temp.toy}}) - {{status}} cor({{xx}},{{yy}})
    </div>-->
</div>