.login-continer {
    background-color: #2aa0fc;
    width: 100%;
    height: 91%;
    overflow: auto;
}

.login-panel {
    text-transform: uppercase;
    padding: 20px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 235px;
    background-color: #fff;
    -webkit-transform: translate3d(-50%, -50%, 0) scale(1.0, 1.0);
    -moz-transform: translate3d(-50%, -50%, 0) scale(1.0, 1.0);
    -ms-transform: translate3d(-50%, -50%, 0) scale(1.0, 1.0);
    transform: translate3d(-50%, -50%, 0) scale(1.0, 1.0);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.login-panel-reg {
    height: 300px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.hidden-block {
    height: 0px;
    overflow: hidden;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.show-block {
    height: 65px;
    overflow: visible;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.show-inline {
    height: 33px;
    overflow: visible;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.form-block {
    display: block;
    text-align: left;
    margin: 10px;
    width: 92%;
    font-size: 12px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.form-lable {
    display: block;
    width: 100%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.form-input {
    display: block;
    width: 100%;
    text-transform: uppercase;
    padding: 8px 10px;
    font-size: 12px;
    margin-top: 4px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.form-btn-continer {
    display: block;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.form-btn {
    border: none;
    text-transform: uppercase;
    background-color: #8BC34A;
    padding: 10px;
    font-size: 10px;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.warning-btn {
    background-color: #f44336;
    color: #fff;
     -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}